<h1>Bibliotecas Utilizadas<h1>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

       ordem  linha  latitude  longitude  velocidade             dataHora
0     C47730    552 -23.00171  -43.27460          70  07-25-2022 07:53:29
1     C47760    553 -22.99784  -43.26517          58  07-25-2022 08:40:17
2     A29030  SP513 -23.01780  -43.50998          62  07-25-2022 08:46:22
3     B27063    639 -22.81719  -43.30214           1  07-25-2022 10:03:45
4     D17180    804 -23.00204  -43.36667           4  07-25-2022 10:22:46
...      ...    ...       ...        ...         ...                  ...
3576  B11528    378 -22.86386  -43.37346           0  07-25-2022 16:53:58
3577  A71517    100 -22.96873  -43.18411           4  07-25-2022 16:53:59
3578  A71501    100 -22.90573  -43.17738          19  07-25-2022 16:54:00
3579  A71621    539 -22.98394  -43.22008           7  07-25-2022 16:54:01
3580  A71581    217 -22.92408  -43.23275           0  07-25-2022 16:54:02

[3581 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,C47730,552,Viação Redentor Ltda,-23.00171,-43.27460,70,2022-07-25 07:53:29,2022-07-25 04:53:29-03:00
1,C47760,553,Viação Redentor Ltda,-22.99784,-43.26517,58,2022-07-25 08:40:17,2022-07-25 05:40:17-03:00
2,A29030,SP513,Empresa Braso Lisboa,-23.01780,-43.50998,62,2022-07-25 08:46:22,2022-07-25 05:46:22-03:00
3,B27063,639,Caprichosa Auto Ônibus Ltda,-22.81719,-43.30214,1,2022-07-25 10:03:45,2022-07-25 07:03:45-03:00
4,D17180,804,Auto Viação Palmares Ltda,-23.00204,-43.36667,4,2022-07-25 10:22:46,2022-07-25 07:22:46-03:00
...,...,...,...,...,...,...,...,...
3573,B11528,378,Viação Vila Real S/A,-22.86386,-43.37346,0,2022-07-25 16:53:58,2022-07-25 13:53:58-03:00
3574,A71517,100,Viação Nossa Senhora das Graças Ltda,-22.96873,-43.18411,4,2022-07-25 16:53:59,2022-07-25 13:53:59-03:00
3575,A71501,100,Viação Nossa Senhora das Graças Ltda,-22.90573,-43.17738,19,2022-07-25 16:54:00,2022-07-25 13:54:00-03:00
3576,A71621,539,Viação Nossa Senhora das Graças Ltda,-22.98394,-43.22008,7,2022-07-25 16:54:01,2022-07-25 13:54:01-03:00
3577,A71581,217,Viação Nossa Senhora das Graças Ltda,-22.92408,-43.23275,0,2022-07-25 16:54:02,2022-07-25 13:54:02-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,C47730,552,Viação Redentor Ltda,-23.00171,-43.27460,70,04:53:29,25/07/2022
1,C47760,553,Viação Redentor Ltda,-22.99784,-43.26517,58,05:40:17,25/07/2022
2,A29030,SP513,Empresa Braso Lisboa,-23.01780,-43.50998,62,05:46:22,25/07/2022
3,B27063,639,Caprichosa Auto Ônibus Ltda,-22.81719,-43.30214,1,07:03:45,25/07/2022
4,D17180,804,Auto Viação Palmares Ltda,-23.00204,-43.36667,4,07:22:46,25/07/2022
...,...,...,...,...,...,...,...,...
3573,B11528,378,Viação Vila Real S/A,-22.86386,-43.37346,0,13:53:58,25/07/2022
3574,A71517,100,Viação Nossa Senhora das Graças Ltda,-22.96873,-43.18411,4,13:53:59,25/07/2022
3575,A71501,100,Viação Nossa Senhora das Graças Ltda,-22.90573,-43.17738,19,13:54:00,25/07/2022
3576,A71621,539,Viação Nossa Senhora das Graças Ltda,-22.98394,-43.22008,7,13:54:01,25/07/2022
3577,A71581,217,Viação Nossa Senhora das Graças Ltda,-22.92408,-43.23275,0,13:54:02,25/07/2022

<h1>Persistindo Postgresql</h1>

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte_db'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(36000).seconds.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)